src/test/resources/xml/explicit/structure_tests/fileset3/schema.xml

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:target="urn:com.github.nenomm.xmlfun.schema"
        targetNamespace="urn:com.github.nenomm.xmlfun.schema" elementFormDefault="qualified">

    <complexType name="nameType">
        <sequence>
            <element name="first" type="string"/>
            <element name="middle" type="string"/>
            <element name="last" type="string"/>
        </sequence>
        <attribute name="title" type="string"/>
    </complexType>

    <element name="name" type="target:nameType">
    </element>
</schema>