src/test/resources/xml/explicit/include_tests/fileset2/schema.xml

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:target="urn:com.github.nenomm.xmlfun.schema"
        targetNamespace="urn:com.github.nenomm.xmlfun.schema" elementFormDefault="qualified">

    <include schemaLocation="anotherSchema.xml"/>

    <element name="name">
        <complexType>
            <sequence>
                <element name="first" type="string"/>
                <element name="middle" type="string"/>
                <element name="last" type="string"/>
                <element ref="target:nickname"/>
            </sequence>
            <attribute name="title" type="string"/>
        </complexType>
    </element>

</schema>