src/test/resources/xml/documentation_tests/fileset5/schema.xml

<?xml version="1.0"?>
<!--This is a comment-->
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="urn:com.github.nenomm.xmlfun.schema" elementFormDefault="qualified">

    <annotation>
        <appinfo source="name-sample.xml"/>
        <documentation xml:lang="en">
            Some text in plain English.
        </documentation>
    </annotation>

    <element name="name">
        <!--This is a comment-->
        <complexType>
            <sequence>
                <element name="first" type="string"/>
                <!--This is a comment-->
                <element name="middle" type="string"/>
                <element name="last" type="string"/>
            </sequence>
            <attribute name="title" type="string"/>
        </complexType>
    </element>

</schema>