src/test/resources/xml/implicit/import_tests/fileset7/anotherSchema.xml

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:target="urn:com.github.nenomm.xmlfun.anotherSchema"
        targetNamespace="urn:com.github.nenomm.xmlfun.anotherSchema" elementFormDefault="qualified">

    <complexType name="nicknameType">
        <sequence>
            <element name="nice" type="string"/>
            <element name="rude" type="string"/>
            <element name="funny" type="string"/>
        </sequence>
    </complexType>

    <element name="nickname" type="target:nicknameType">

    </element>

</schema>